@import 'tailwind.css';
@import "mixins.scss";
@import 'variables.scss';

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

html, body {
    height: 100%;
    background-color: $background;
}