::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: hsl(var(--secondary));
}

::-webkit-scrollbar-thumb {
    background: hsl(var(--muted-foreground));
    border-radius: 999px;

    &:hover {
        scale: 1.1;
    }
}
