.team-badge {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    width: fit-content;

    &__name {
        @include body();

        &:hover {
            text-decoration: underline;
        }
    }
}