.team-card {
    @include entityCard();

    &__info {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__header {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 12px
    }

    &__tags {
        @include tags();
    }
    
    overflow-x: hidden;

    &__image {
        img {
            width: 100%;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__title {
        @include subtitle();
    }

    &__description {
        @include description();
    }

    &__actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        @include adaptiveValue('gap', 12, 6);
    }

    @media screen and (max-width: 579.98px) {
        &__roles,
        &__tags {
            flex-wrap: nowrap;
            overflow-y: hidden;
            overflow-x: scroll;
            padding-bottom: 4px;
        }
    }

    @media screen and (max-width: 479.98px) {
        &__actions {
            flex-direction: column;
        }
    }
}