.user-badge {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    width: fit-content;

    &__name {
        @include body();
    }

    &__avatar {
        border-radius: 999px;
        transition: outline 0.2s ease-in-out;
        outline: 2px solid hsl(var(--background));
        @media (hover: hover) {
            &:hover {
                outline-color: hsl(var(--primary));
              }
        }
        @media (hover: none) {
            &:active {
                outline-color: hsl(var(--primary));
            }
        }
        &:active {
            scale: 0.98;
        }
      }
    
}