.bottom-right {
    position: sticky;
    bottom: 0;
    @include adaptiveValue('padding-right', 24, 16);
    @include adaptiveValue('padding-bottom', 24, 16);
    cursor: pointer;
    border-radius: 99px;
    width: 100%;
    display: flex;
    justify-content: end;
}