
.filters {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 100%;
    max-width: 274px;
    height: fit-content;

    &__main {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    @media screen and (min-width: 1200px) {
        padding: 24px;
        border: 1px solid hsl(var(--border));
        border-radius: 16px;
    }

    &__actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
    }

    &__action {
        width: 100%;
    }

    &__title {
        @include title();
        align-items: flex-start;
    }

    @media screen and (max-width: 479.98px) {
        &__actions {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        }
    }
}

.item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__title {
        @include body();
    }
}