.promo {
    &__container {
        display: flex;
        flex-direction: column;
        @include adaptiveValue('gap', 192, 48);
        @include adaptiveValue('padding-top', 64, 24);
    }
}

.greeting {
    display: flex;
    flex-direction: column;
    @include adaptiveValue('gap', 64, 32);

    &__info {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__logo {
        display: flex;
        justify-content: flex-end;
    }

    &__header {
        h1 {
            @include title();
        }

        h2 {
            @include body();
        }
    }
}

.features {
    display: flex;
    flex-direction: column;
    @include adaptiveValue('gap', 24, 16);

    &__title {
        @include title();
        margin-top: 24px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        @include adaptiveValue('gap', 24, 6);
    }

    &__item {
        display: flex;
        flex-direction: column;
        @include adaptiveValue('padding', 64, 24);
        background: hsl(var(--secondary));
        border-radius: 12px;
        color: var(--foreground);
        gap: 24px;
        align-items: center;

        &:nth-child(4n+1) &-icon,
        &:nth-child(4n+4) &-icon {
            color: hsl(var(--accent));
        }

        &:nth-child(4n+2) &-icon,
        &:nth-child(4n+3) &-icon {
            color: hsl(var(--primary));
        }
    }

    &__item-title {
        @include subtitle();
        text-align: center
    }

    &__item-description {
        @include body(14);
        text-align: center;
        color: hsl(var(--muted-foreground));
    }

    &__item-text {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        max-width: 312px;
    }

    @media only screen and (max-width: em(767.98)) {
        &__list {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }
    }
}

.steps {
    display: flex;
    flex-direction: column;
    @include adaptiveValue('gap', 24, 16);

    &__title {
        @include title();
        margin-top: 24px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        @include adaptiveValue('gap', 96, 12);
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 336px;

        &-text {
            display: flex;
            flex-direction: column;
            @include adaptiveValue('gap', 8, 4);
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &-number,
        &-title {
            @include subtitle();
        }

        &-description {
            @include body(14);
            max-width: 256px;
            font-weight: 400;
            color: hsl(var(--muted-foreground));
        }

        &-bg {
            opacity: 0.5;
        }

        @media only screen and (min-width: em(608)) {
            &-number {
                display: none;
            }
        }
    }

    @media only screen and (max-width: em(980)) {
        &__list {
            flex-direction: column;
        }

        &__item {
            width: 100%;
            gap: 24px;

            &-text {
                position: static; 
            }
        }
    }

    &__item-bg {
        display: flex;
        align-items: center;
        width: 217px;

        @media only screen and (max-width: em(980)) {
            justify-content: center;
        }

        @media screen and (max-width: em(608)) {
            display: none;
        }
    }
}
