.login-promo {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 100%;
    background-color: $background;

    &__wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        padding: 48px;
        gap: 48px;
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 8px;

        h1 {
            color: $text;
            @include title();
        }

        p {
            @include body();
            color: $text;
        }
    }

    @media only screen and (max-width: rem(936)) {
        display: none !important;
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $text;
    width: 100%;
    position: relative;
    overflow: hidden;

    &__bg-image {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.05;
        display: none
    }

    @media only screen and (max-width: rem(936)) {
        background: $background;
    }
}

.form {
    display: flex;
    flex-direction: column;
    background: $background;
    align-items: center;
    border-radius: 16px;
    padding: 64px 36px;
    z-index: 1;
    max-width: 396px;
    @include adaptiveValue('gap', 48, 16);

    &__header {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }

    &__link {
        text-decoration: underline;
    }

    &__title {
        color: $text;
        @include title();
    }

    &__description {
        @include body();
        color: $text;
        text-align: center
    }

    &__actions {
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 200px;
    }
}