.header {
    border-bottom: 1px solid $border;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptiveValue('gap', 24, 12);
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content_default {
        width: 100%;
        @media screen and (max-width: 479.98px) {
            display: none;
        }
    }

    &__content_mobile {
        @media screen and (min-width: 480px) {
            display: none;
        }
    }

    &__left {
        display: flex;
        align-items: center;
        @include adaptiveValue('gap', 24, 12);
    }

    &__link {
        color: $text-secondary;

        @media (hover: hover) {
            &:hover {
                color: $text;
            }
        }

        @media (hover: none) {
            &:active {
                color: $text;
            }
        }
        
        @include adaptiveValue('font-size', 16, 12);
    }
}

.menu {
    &__list_default {
        display: flex;
        flex-direction: row;
        align-items: center;
        @include adaptiveValue('gap', 24, 8);
    }

    &__list_mobile {
        display: flex;
        flex-direction: column;
        align-items: end;
        @include adaptiveValue('gap', 24, 8);
    }
}