.header {
    border-bottom: 1px solid $border;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptiveValue('gap', 24, 12);
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content_default {
        width: 100%;
        @media screen and (max-width: 479.98px) {
            display: none;
        }
    }

    &__content_mobile {
        @media screen and (min-width: 480px) {
            display: none;
        }
    }

    &__left {
        display: flex;
        align-items: center;
        @include adaptiveValue('gap', 24, 12);
    }

    &__link {
        color: $text-secondary;

        @media (hover: hover) {
            &:hover {
                color: $text;
            }
        }

        @media (hover: none) {
            &:active {
                color: $text;
            }
        }
        
        font-size: rem(14);
    }

    &__link_mobile {
        display: flex;
        justify-content: flex-end;
    }
}

.sheet {
    &__trigger {
        color: $text;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 24px;
        
        z-index: 999;
        background: $foreground;

        border-left: 1px solid $border;

        @media screen and (max-width: 380px){ 
            width: 100%;
        }
    }
}

.menu {
    &__list {
        display: flex;
        @include adaptiveValue('gap', 16, 12);
    }

    &__item_mobile {
        padding-bottom: 6px;
    }

    &__list_default {
        flex-direction: row;
        align-items: center;
    }

    &__list_mobile {
        flex-direction: column;
        align-items: end;
    }
}