.header {
    border-bottom: 1px solid hsl(var(--border));

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptiveValue('gap', 24, 12);
    }

    &__main {
        display: flex;
        align-items: center;
        gap: 12px;
        width: 100%;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content_desktop {
        width: 100%;
        @media screen and (max-width: 479.98px) {
            display: none;
        }
    }

    &__content_mobile {
        display: flex;
        gap: 8px;
        @media screen and (min-width: 480px) {
            display: none;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__link {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        
        color: hsl(var(--muted-foreground));

        @media (hover: hover) {
            &:hover {
                color: hsl(var(--foreground));
            }
        }

        @media (hover: none) {
            &:active {
                color: hsl(var(--foreground));
            }
        }
        
        font-size: rem(14);
    }

    &__link_mobile {
        display: flex;
        justify-content: flex-end;
    }
}

.sheet {
    display: flex;
    flex-direction: row;

    &__header {
        @include title();
        align-items: flex-end;
    }

    &__footer {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 12px;
    }

    &__trigger {
        color: hsl(var(--foreground));
    }

    &__content {
        display: flex;
        flex-direction: column;
        @include adaptiveValue('gap', 24, 12);
        border-right: 1px solid var(--border);
        align-items: flex-end;
    }

    @media screen and (max-width: 380px){ 
        &__content {
            width: 100%;
        }
    }
}

.menu {
    &__list {
        display: flex;
        @include adaptiveValue('gap', 16, 12);
    }

    &__item_mobile {
        padding-bottom: 6px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__list_desktop {
        flex-direction: row;
        align-items: center;
    }

    &__list_mobile {
        flex-direction: column;
        align-items: end;
    }
}