.image {
    cursor: pointer;
    position: relative;
    border-radius: 12px;
    width: 100%;
    height: 100%;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 12px;
        border: 1px solid hsl(var(--border));
        img {
            border-radius: 12px;
            width: 100%;
        }
    }

    &__wrapper {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
    }

    &__main, &__fallback, &__bg {
        transition: scale 0.2s ease;
        z-index: 1;
        position: absolute;
        width: auto;
        max-height: 100%;
        left: 50%;
        position: absolute;
        top: 50%;
        height: 100%;
        transform: translate(-50%, -50%);
    }

    &__main, &__fallback {
        object-fit: contain;
    }

    &__bg {
        object-fit: cover;
        filter: brightness(0.5);
    }

    &__button {
        opacity: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        border-radius: 8px 0 8px 0;
        z-index: 2;

        transition: opacity 0.2s ease;
    }

    &:hover.clickable {
        .image__main {
            scale: 1.005;
        }
        .image__button {
            opacity: 1;
        }
    }

    &:active.clickable {
        .image__main {
            scale: 0.995;
        }
    }

    @media screen and (max-width: 768px) {
        &__main {
            width: 100%;
            height: 100%;
        }
    }
}