.home {
    &__search {
        display: flex;
        flex-direction: row;
        gap: 12px;
        width: 100%;
    }

    &__container {
        display: flex;
        flex-direction: row;
        gap: 48px;
        @include adaptiveValue('padding-top', 64, 24);
    }
    &__controls {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        @include adaptiveValue('gap', 12, 6);
        width: 100%;
    }

    &__filters_desktop {
      padding-top: 104px;
    }

    @media screen and (max-width: 1199.98px) {
      &__filters_desktop,
      &__sorting_desktop {
        display: none;
      }
    }

    @media screen and (min-width: 1200px) {
      &__controls_mobile,
      &__sorting_mobile {
        display: none;
      }
    }

    @media screen and (max-width: 379.98px) {
      &__controls {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
      }
    }
}

.sheet {
    &__header {
      @include title();
      align-items: flex-start;
    }
    
    &__content {
        display: flex;
        flex-direction: column;
        @include adaptiveValue('gap', 24, 12);
        @include adaptiveValue('padding', 24, 12);
    }

    @media screen and (min-width: 1200px) {
      &__button {
        display: none;
      }
    }

    @media screen and (max-width: 479.98px) {
      &__content {
          width: 100%;
      }
  }
}
