.home {
    &__search {
        display: flex;
        flex-direction: row;
        gap: 12px;
        width: 100%;
    }

    &__container {
        display: flex;
        flex-direction: row;
        gap: 48px;
    }
}