.teams-list {
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }

    @media screen and (max-width: 991.98px) {
        &__list {
            grid-template-columns: 1fr;
        }
    }
}