.teams-list {

    @media screen and (max-width: 991.98px) {
        grid-template-columns: 1fr;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
    }
}